<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>메인화면</title>
<th:block th:replace="~{fragments/configure::configure}"></th:block>
<script type="text/javascript" src="../../static/js/jquery-3.7.1.min.js"
   th:src="@{js/jquery-3.7.1.min.js}"></script>

<style>


body {
	font-family: 'Noto Sans KR', sans-serif;
}
</style>


</head>

<body class="bg-green-200">
   <!-- header -->
   <th:block th:replace="~{fragments/header::headerFragment}"></th:block>

   <div class="container mx-auto p-4">
      <div class="bg-white rounded-lg shadow-lg p-5">

         <div class="flex mt-4">

            <div class="w-full pl-4">
               <div class="grid grid-cols-3 gap-4">
                  <img alt="A screenshot of a game with a Go board and stones"
                     class="rounded-lg" height="150"
                     src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-sSsOulEoQY3dXtF2RiaK66Ja/user-XZ7Av8ZH1bvGvI0GdH7WwbAs/img-pd3a42jHkCewTGrlkRNkIwfh.png?st=2024-03-25T03%3A36%3A56Z&amp;se=2024-03-25T05%3A36%3A56Z&amp;sp=r&amp;sv=2021-08-06&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-03-24T22%3A00%3A07Z&amp;ske=2024-03-25T22%3A00%3A07Z&amp;sks=b&amp;skv=2021-08-06&amp;sig=Kzcn5Rb61caijBtBcLheqF5SH52Y4/mrzZ%2BMuw3G4c0%3D"
                     width="150" /> <img
                     alt="A mobile game screenshot featuring cartoon characters in a forest"
                     class="rounded-lg" height="150"
                     src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-sSsOulEoQY3dXtF2RiaK66Ja/user-XZ7Av8ZH1bvGvI0GdH7WwbAs/img-51IKvbYFruoNcuCab7Ezs1as.png?st=2024-03-25T03%3A37%3A00Z&amp;se=2024-03-25T05%3A37%3A00Z&amp;sp=r&amp;sv=2021-08-06&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-03-24T21%3A05%3A45Z&amp;ske=2024-03-25T21%3A05%3A45Z&amp;sks=b&amp;skv=2021-08-06&amp;sig=wcMYvuZcBBS%2BAMtznEzUlgtdEhTZWic4FAVJ4En2cfw%3D"
                     width="150" /> <img
                     alt="A cover of a book or educational material with cartoon characters"
                     class="rounded-lg" height="150"
                     src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-sSsOulEoQY3dXtF2RiaK66Ja/user-XZ7Av8ZH1bvGvI0GdH7WwbAs/img-eV2HhJfc7EKi589FdNJetg5G.png?st=2024-03-25T03%3A36%3A57Z&amp;se=2024-03-25T05%3A36%3A57Z&amp;sp=r&amp;sv=2021-08-06&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-03-24T21%3A48%3A00Z&amp;ske=2024-03-25T21%3A48%3A00Z&amp;sks=b&amp;skv=2021-08-06&amp;sig=IFWa75xCdJ9TzDTCZRamaDuZrQjGiO4VlFjNWdCah%2BA%3D"
                     width="150" />
               </div>
               <div class="bg-green-500 text-white rounded-lg p-4 mt-4">
                  <div class="text-lg">1.교육자료 예시 사이트입니다</div>
                  <div class="text-lg">(교육자료 소개 게시판 참조하세요)</div>
                  <div class="text-sm mt-2">
                     https://textbookmedia.gimmyoung.com/baduk/</div>
                  <div class="text-sm">
                     https://www.youtube.com/watch?v=4Gt-wj21PII</div>
               </div>
               <div class="flex justify-between items-center mt-4"></div>
            </div>
         </div>
      </div>
   </div>
   <!-- footer -->
   <div class="footer"><th:block th:replace="~{fragments/footer::footerFragment}"></th:block></div>
</body>

</html>